[defaults]
# inventory = inventory.yml
roles_path = roles:vendor/openclaw-ansible/roles
host_key_checking = false
retry_files_enabled = false

[privilege_escalation]
become = true
become_method = sudo
